/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
@media screen and (max-width: 220px) {
  #header {
    min-height: 10px;
    max-height: 10px;
  }
}


/*
 * Smartphone sizes and up
 */
@media screen and (max-width: 320px) {
  #header {
    min-height: 10px;
    max-height: 10px;
  }
}


/*
 * Smartphone sizes and down
 */
@media screen and (max-width: 480px) {
  /* to aid users using touch-screens. */
  a {
    font-size: large;
  }

  #header {
    min-height: 50px;
    max-height: 50px;
  }

  /* 
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   * 
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  
  /* to aid users using touch-screens. */
  a {
    font-size: large;
  }

  #header {
    min-height: 150px;
    max-height: 150px;
  }

  #content-column {
    float: none;
    width: 100%;
  }

  .nav li,
  .nav ul.menu li {
    display: block;
    float:   none;
  }

  .sidebar {
    float:        none;
    margin-left:  0;
    margin-right: 0;
    width:        100%;
  }
}

/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */

/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */

